[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-functions = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
msgraph-sdk = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.12"
